$col-width: 100px;
$row-height: 70px;


@import "booking-item";
@import "new-booking-form";

.ui.fluid.container {
    padding: 0 10px;
}

body {
  padding-top: 50px;
}

.calendar-area {
    position: relative;
}

.calendar-wrap {
    overflow: auto;
}

.calendar-inner {
    width: 3300px;
    height: 800px;
    position: relative;
}

div.columns, div.top-row {
    padding:0;
    margin:0;
    position:absolute;
    width:100%;
    z-index:1;
    /*background-color:white;*/
    cursor:pointer;
    height:calc(100vh - 56px);
    border-top: 1px solid black;
}
div.top-row {
    height:$row-height;
    background-color:white;
    z-index:4;
}

div.day-cell {
    margin:0;
    width:$col-width;
    height:$row-height;
    text-align:center;
    border-right:1px solid black;
    border-bottom:1px solid black;
    font-size:0.8em;
    float:left;
}

.rentals {
    position: absolute;
    z-index:3;
    width: $col-width;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    .rental {
        width: 100%;
        height: $row-height;
        position: relative;
        padding: 5px;
        background: white;

        &.selected {
            // outline: 3px solid transparentize(black, 0.2);
            font-weight: bold;
            // font-size:15px;
            color: red;
            border: 1px solid red;
            // background: white !important;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparentize(white, 0.6);
                z-index: 0;
            }

            .number {
                position: relative;
                z-index: 2;
            }

        }

        &:hover {
            cursor: pointer;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparentize(red, 0.7);
            }
        }

    }
}
@import "ember-power-select";
