$col-width: 100px;
$row-height: 70px;

@import "ember-basic-dropdown";
@import "ember-power-calendar";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "booking-item";
@import "new-booking-form";

.demo-calendar-small {
  @include ember-power-calendar($cell-size: 30px);
}

.datepicker-demo-dropdown {
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
}


.ui.fluid.container {
    padding: 0 10px;
}

body {
  padding-top: 50px;
}

.calendar-area {
    position: relative;
}

.calendar-wrap {
    overflow: auto;
}

.calendar-inner {
    width: 3300px;
    height: 800px;
    position: relative;
}

.columns, .top-row {
    padding:0;
    margin:0;
    position:absolute;
    width:100%;
    z-index:1;
    /*background-color:white;*/
    cursor:pointer;
    height:calc(100vh - 56px);
    border-top: 1px solid black;
}

.top-row {
    height:$row-height;
    background-color:white;
    z-index:4;
}

.day-cell {
    margin:0;
    width:$col-width;
    height:$row-height;
    text-align:center;
    border-right:1px solid black;
    border-bottom:1px solid black;
    font-size:0.8em;
    float:left;
}

.rentals {
    position: absolute;
    z-index:3;
    width: $col-width;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    .rental {
        width: 100%;
        height: $row-height;
        position: relative;
        padding: 5px;
        background: white;
        border-bottom: 1px solid black;
    }
}
@import "ember-power-select";
