<div class="ui fluid container">
  {{new-booking-form
    newBookingChangeset=(changeset newBooking BookingValidations)
    rentals=model.rentals
    onSuccess=(action "saveBooking")
    serverErrors=serverErrors
    buttonLabel="Book reservation"
  }}
</div>
