<div class="ui fluid container">
  <h1 class="ui header">
    Your rentals
  </h1>
</div>
{{calendar-area
  columnDates=columnDates
  rentals=model.rentals
  onBookingItemClick=(action "transitionToBookingDetail")}}

{{outlet}}