<div class="ui fluid container">
  <h1 class="ui header">
    Admin dashboard
  </h1>
</div>
{{calendar-area columnDates=columnDates rentals=model.rentals}}

<div class="ui fluid container">
  <h2>Add booking</h2>

  {{new-booking-form
    newBookingChangeset=(changeset newBooking BookingValidations)
    rentals=model.rentals
    onSuccess=(action "saveBooking")
    serverErrors=serverErrors
  }}
</div>